body{
    background-color: wheat;
}
.todo-container {
    font-family: Cambria, Cochin;
    max-width: 600px;
    margin: 50px auto;
    padding: 60px;
    border: 10px solid grey;
    border-radius: 60px;
    box-shadow: 10px 10px 10px darkgrey;
    background: rgb(231, 226, 226);
    font-size: 35px;
  }
  
  .title {
    font-size: 45px;
    color: rgb(95, 138, 199);
    margin-top: -20px;
    text-align: center;
  }
  
  .form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .input {
    border: none;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 3px 3px 3px darkgrey;
  }
  
  .add-button {
    background-color: rgb(103, 150, 103);
    box-shadow: 3px 3px 3px darkgrey;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .task-list {
    list-style-type: disc;
    color: rgb(95, 138, 199);
    padding: 10px;
  }

  .completed {
    text-decoration-line: line-through;
    text-decoration-color: rgb(217, 109, 109);
    text-decoration-style: wavy;
  }

  .done {
    background-color: rgb(103, 150, 103);
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px darkgrey;
    cursor: pointer;
    margin-left: 15px;
  }

  .done.undo {
    background-color: rgb(217, 109, 109);
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px darkgrey;
    cursor: pointer;
  }
